<div class="main" [ngClass]="getWeatherBackground()" *ngIf="weatherData">
    <div class="mainInfo">
        <h2>{{ weatherData.name }}</h2>
        <p>{{ getDayDate() }} - {{ currentTime | date: 'dd/MM' }}</p>
        <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@4x.png'" alt="">
        <h3>{{ weatherData.weather[0].main }}</h3>
        <p class="temperature"><span>{{ Math.round(weatherData.main.temp - 272) }}</span>&deg;C</p>
        <p>Feels like: {{ Math.round(weatherData.main.feels_like - 272) }}&deg;C</p>
        
        <!-- <p>{{ weatherData.weather[0].description }}</p> -->
    </div>
    <div class="moreInfo">
        <div class="gridItem">
            <p class="gridTitle">Sunrise</p>
            <p class="gridContent">{{sunrise | date:'HH:mm'}}</p>
        </div>
        <div class="gridItem">
            <p class="gridTitle">Sunset</p>
            <p class="gridContent">{{sunset | date:'HH:mm'}}</p>
        </div>

        <div class="gridItem">
            <p class="gridTitle">Real feel</p>
            <p class="gridContent">{{ Math.round(weatherData.main.feels_like - 272) }}&deg;C</p>
        </div>
        <div class="gridItem">
            <p class="gridTitle">Humidity</p>
            <p class="gridContent">{{ weatherData.main.humidity }}%</p>
        </div>

        <div class="gridItem">
            <p class="gridTitle">Wind speed</p>
            <p class="gridContent">{{ weatherData.wind.speed }} m/s</p>
        </div>
        <div class="gridItem">
            <p class="gridTitle">Pressure</p>
            <p class="gridContent">{{ weatherData.wind.speed }} m/s</p>
        </div>
    </div>
    <div class="line"></div>
</div>